# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# MacOS folder attributes
.DS_Store

# IDEs and Editors
.vscode/
.idea/
